

button{
    position: absolute;
    width: 15rem;
    height: 4rem;
    background-color: #2F2E41;
    color: #fff;
    border-radius: 10rem;
    top: 10rem;
    left: 18rem;
    cursor: pointer;
    border-style: none;
}